                                                                    head {
                                                                        background-color: pink;
                                                                    }
                                                                    
                                                                    body {
                                                                        background-color: purple;
                                                                    }